<html lang="en">
<head>
  	<title>Login Form</title>
  	<style>
  	.my-block {
     	text-align: center;
      	display: table-cell;
        vertical-align: middle;
        color: orange;
        font-size: 32;
        font-weight: 100;
        font-style: oblique; 
        font-family: 'TImes New Roman';
    }
   	</style>
</head>
<body>
	<center>
  		<section class="my-block">
    		<div>
      			<h1>Login to Web App</h1>
      			<form method="post" action='{% url 'Login:Login' %}'>
      				{%csrf_token%}
      				<p style="font-size: 20; color:red">
      				{%if status == 1%}
      				*Invalid Username or Password
      				{%endif%}
      				{%if register == 1%}
      				Registered Successfully.
      				{%endif%}
      				</p>
        			<p><input type="text" name="username" value="" placeholder="Username"></p>
        			<p><input type="password" name="password" value="" placeholder="Password"></p>
        			<p><input type="submit" name="commit" value="Login"></p>
      			</form>
            <a href="{% url 'Login:Register' %}"><button>Register</button></a>
    		</div>
  		</section>
  	</center>
</body>
</html>